.Title {
    font-family: 'Simpsonfont';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FFD700;
}

p {
    color: #FFD700;
}

h4 {
    color: #FFD700;
}

.list-group-item {
    background-color: #FFD700;
    color: #000;
}

li > a {
    color: #000;
}