@page "/aboutus"
@inherits LayoutComponentBase

<style>
    body {
        background-color: #3498db;
    }
</style>

<div class="container mt-5">
    <h2 id="Title" class="text-center mb-4">Sobre Nosotros</h2>

    <div class="row">
        <div class="col-md-6">
            <p>
                Bienvenido a nuestra página "Frases Simpsonianas". Somos un equipo de estudiantes de la UTN FRT trabajando en este proyecto para la materia Programación de Aplicaciones Distribuidas (PAD).
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Integrantes del Equipo:</h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Lucas Depetris</strong>
                    <a href="Enlace al perfil de GitHub de Lucas" target="_blank" class="float-right"><i class="bi bi-github"></i> GitHub</a>
                </li>
                <li class="list-group-item">
                    <strong>Emanuel Haro</strong>
                    <a href="Enlace al perfil de GitHub de Emanuel" target="_blank" class="float-right"><i class="bi bi-github"></i> GitHub</a>
                </li>
                <li class="list-group-item">
                    <strong>Santiago Figueroa</strong>
                    <a href="Enlace al perfil de GitHub de Santiago" target="_blank" class="float-right"><i class="bi bi-github"></i> GitHub</a>
                </li>
                <li class="list-group-item">
                    <strong>Maribel Masucci</strong>
                    <a href="Enlace al perfil de GitHub de Maribel" target="_blank" class="float-right"><i class="bi bi-github"></i> GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<HomeroDona></HomeroDona>

@code {
}