.main {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

p {
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container,
.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .error-container > * {
        margin-left: 3px;
        margin-right: 3px;
    }

.Title {
    font-family: 'Simpsonfont';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FFD700;
}

.Error {
    color: #FFD700;
}

.form-container, .results-container {
    color: black;
}

.btn {
    background-color: #FFD700;
    font-weight: bold;
    color: #3498db;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#loader {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
}


