@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background-color: #3498db; /* Fondo azul */
    color: white; /* Color del texto */
    font-family: 'Simpsonfont', sans-serif; /* Usar la fuente personalizada */
    text-align: center; /* Centrar el texto */
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
    padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
}

.Form, .Results {
    margin: 20px; /* Agregar un margen interno */
}


.btn {
    background-color: #FFD700; /* Color del botón */
    color: #3498db; /* Color del texto del botón */
    padding: 10px; /* Agregar relleno al botón */
    border: none; /* Eliminar el borde del botón */
    cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .Form, .Results {
        margin: 10px; /* Reducir el margen interno para dispositivos móviles */
    }
}