@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="aboutus">Nosotros</a>
            <a href="login">Iniciar Sesion</a>
        </div>

@*         <div class="top-row px-4">
            <a href="login">Iniciar Sesion</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
