@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastServicio



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frases Simpsonianas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">  
            @if (usuarioId == 0)
            {
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-person-circle" aria-hidden="true" style="margin-right: 5px"></span>Iniciar Sesion
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-person-circle" aria-hidden="true" style="margin-right: 5px"></span><a href="#" @onclick="CerrarSesion">Cerrar Sesión</a>
                </NavLink>
            }
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simpson">
                <span class="bi bi-search" aria-hidden="true" style="margin-right: 5px"></span>Buscar Frases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchfrasedetails">
                <span class="bi bi-star-fill" aria-hidden="true" style="margin-right: 5px"></span>Frases Favoritas
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <span class="bi bi-people-fill" aria-hidden="true" style="margin-right: 5px"></span>Nosotros
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Codigo de Main Layout 
    private int usuarioId;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        usuarioId = await sessionStorage.GetItemAsync<int>("id");
        // usuarioId = await ObtenerUsuarioIdDesdeSesion();
    }

    private async Task CerrarSesion()
    {
        // Lógica para cerrar sesión
        await sessionStorage.ClearAsync();
        await JsRuntime.InvokeVoidAsync("location.reload");
    }
}
