/*@font-face {
    font-family: 'Akbar';
    font-style: normal;
    font-weight: 400;
    src: local('Akbar'), url('https://fonts.cdnfonts.com/s/80128/akbar.woff') format('woff');
}

.ExampleFont {*/
    /*font-family: "Akbar", sans-serif;*/
    /*color: red;
}*/

::deep div {
    color: red;
}